:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  --main-back-color: #727D73;
  --main-second-color: #AAB99A;
  --main-third-color: #D0DDD0;
  --main-component-color: #F0F0D7;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #727D73;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #F0F0D7;
  color: black
}

button:hover {
  border-color: #00ab53;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: none;
  color: black;
  height: 20px;
  background-color: #D0DDD0;
  padding: 20px;
  border-radius: 5px;
  font-size: large;
}

input:hover {
  border-color: none;
}

input:active {
  border-color: #00ab53;
}

input:focus {
  border-color: #00ab53;
}

p {
  color: var(--main-back-color);
}